.card.profile-card
    .container
        img(src='images/vitalii.jpg', alt='Vitalii', style='width:100%')
        h1.title Vitalii Krushelnytskyi
    p.title Developer
        span &nbsp;
        label
            a(href='https://github.com/yksi' target="_blank")
                i.fa.fa-github.text-green
        span &nbsp;
        label
            a(href='https://github.com/krushelnytskyi' target="_blank")
                i.fa.fa-github
.card
    h3
        i.fa.fa-star.text-green
        |  Skills
    skill(ng-repeat='skill in $ctrl.skills' skill='skill')