body {
    background-position: center center;
    background-image: url(/personal/img/backgrounds/body/mavericks.jpg);
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.links-container {
    height: 100vh;
    width: 100vw;
    background: transparent;
}

.links {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}



.links > .link {
    max-width: calc(10% - 15px - 4px);
    margin: auto;
    padding: calc((3vh + 3vw) / 2);
    border-radius: calc((3vh + 3vw) / 2);
    border: 1.5px solid rgba(255,255,255,.3);
    background-color: rgba(255, 255, 255, .4);
    transition: border .3s ease-in;
}

.links > .link:hover {
    background: rgba(100,113,142,.3);
    transition: background-color .1s ease-in;
    border-color: transparent;
}

.links > .link img {
    width: 100%;
}

.links > .link img.shadowed {
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.3));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=3, OffY=3, Color='#999')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=3, OffY=3, Color='#999')";
}