.card
    h1
        i.fa.fa-briefcase.text-green
        |  Work Experience
    div(ng-repeat='job in $ctrl.experience')
        .flex.sb.center
            div
                span.text-right.text-2x.title {{job.title}}
                .title {{job.description}}
            div
                span.text-grey
                    i.fa.fa-calendar-o= ' '
                    |  {{job.startDate | date:'longDate'}}
                span.text-grey &nbsp;&mdash;&nbsp;
                span.text-grey(ng-if='job.endDate')
                    |  {{job.endDate | date:'longDate'}}
                span.label.label-grey(ng-if='!job.endDate') Current
        br
        div(ng-if="job.tags")
            ul.tags
                li(ng-repeat="tag in job.tags")
                    a.tag(href="https://www.google.com/search?q={{$ctrl.search[tag] || tag}}", target="_blank") {{tag}}
        hr
.card
    h1
        i.fa.fa-certificate.text-green
        |  Education
    div(ng-repeat='education in $ctrl.educations')
        .text-2x.title {{education.establishment}}
        .title {{education.degree}} / {{education.qualification}}
        span.text-green
            i.fa.fa-calendar= ' '
            |  {{education.startDate | date:'longDate'}}
        span.text-green
            | !{' '}-!{' '}
        span.text-green
            |  {{education.endDate | date:'longDate'}}