.card
    h1
        i.fa.fa-envelope-o.text-green
        |  Contact me
        .row
            .col-3
                .title Title
            .col-8
                input.f-input.green
        .row
            .col-3
                .title Message
            .col-8
                textarea(rows=10).f-input.green